@font-face {
    font-family: League Spartan;
    src: local('League Spartan'), url('../font/LeagueSpartan-VF.woff2') format('woff2');
}

/*Reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
    color: inherit;
}

body{
    font-family: League Spartan,Helvetica,Arial,sans-serif;
}

html{
    scroll-behavior: smooth;
}

.startView{
    height: 100vh;
    transition: background-color 200ms linear;
    z-index: 1;
}

.startViewDark {
    background-color: #101a2b;
    color: #d3d7de;
}

.startViewLight {
    background-color: #d3d7de;
    color: #55585c
}

.mainView{
    background-color: green;
    height: 100vh;
}

#nav-logo{
    width:50px;
    padding: 5px;
}

.navbar-container{
    width: 90%;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
	z-index: 1;
}

.navbar {
    width: 100%;
}

.navbar-list{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding-right: 50px;
}

.navbar-list li{
    margin-left: 40px;
    text-align: center;
}

.nav-link{
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
}

#sun-moon{
	z-index: 1;
	position: relative;
}

.centerImage{
    position: absolute;
    top: 50%;
    width: 20%;
    transform: translateY(-50%);
    left: 40%;
    opacity: 0.9;
    z-index: 0;
}

.centralTextBox{
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.centralTextBox .content{
    margin-left: 10%;
}

h1{
    font-weight: bolder;
    font-size: 5em;
}

h3{
    font-weight: normal;
    font-size: 1em;
    font-style: italic;
}

.formButton{
    display:inline-block;
    padding:0.5em 3em;
    border:0.1em solid #FFFFFF;
    border-radius: 3px;
    margin:0 0.3em 0.3em 0;
    background: rgb(185,54,54);
    background: linear-gradient(105deg, rgb(255, 72, 0) 0%, rgb(255, 72, 0) 49%, rgba(49,155,224,1) 49%, rgba(49,155,224,1) 51%, rgba(255,59,0,1) 51%, rgba(255,59,0,1) 100%);
    background-size: 400% 100%;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    text-align:center;
    height: 40px;
    cursor: pointer;
    animation-name: buttonAnimation;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.formButton:hover{
    animation-name: reverseButtonAnimation;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes buttonAnimation {
    0%{
        background-position: 0% 50%;
    }
    100%{
        background-position: 100% 50%;
    }
}

@keyframes reverseButtonAnimation {
    100%{
        background-position: 0% 50%;
    }
    0%{
        background-position: 100% 50%;
    }
}


.example .hover {
    transition: all 0.2s ease-in-out;
    position: relative;
}
.example .hover:before, .example .hover:after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0px;
    height: 5px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: rgb(255, 72, 0);
}
.example .hover.hover-1:before, .example .hover.hover-1:after {
    left: 0;
}
.example:hover .hover:before, .example:hover .hover:after {
    width: 100%;
    opacity: 1;
} 

@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes fadeOut{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.fadeOut {
	animation: fadeOut;
}

.fadeIn {
	animation: fadeIn;
}

.squiggles {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	animation-fill-mode: forwards;
	animation-duration: 1s;
}

@keyframes squigRotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.squiggles img{
	position: absolute;
	animation: squigRotate;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	transform-origin: 50% 50%;
	display: block;
}

.squiggles img:nth-child(1){
	width: 4%;
	left: 30%;
	top: 10%;
	animation-duration: 7s;
}

.squiggles img:nth-child(2){
	width: 4%;
	left:15%;
	top: 75%;
	animation-duration: 5s;
}

.squiggles img:nth-child(3){
	width: 4%;
	left: 80%;
	top: 80%;
	animation-duration: 14s;
}

.squiggles img:nth-child(4){
	width: 4%;
	left: 70%;
	top: 20%;
	animation-duration: 10s;
}

.aboutModal{
	position: absolute;
	width: 80%;
	height: 80%;
	margin-top: 10vh;
	margin-left: 10%;
	color: #101a2b;
	z-index: 2;
	animation: addShadow;
	animation-fill-mode: forwards;
	animation-duration: 0.5s;
	animation-delay: 0.7s;
}

@keyframes addShadow {
	0%{
		box-shadow: 0;
	}
	100%{
		box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
	}
}

@keyframes slideFromTop {
	0% {
		transform: translateY(-100vh);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes slideFromBottom {
	0% {
		transform: translateY(100vh);
	}
	100%{
		transform: translateY(0%);
	}
}

.leftAbout{
	width: 50%;
	height: 100%;
	position: absolute;
	animation: slideFromTop;
	animation-duration: 0.5s;
	background-color: #d3d7de;
	padding: 10px;
	box-sizing: border-box;
}
.rightAbout{
	color: white;
	width:50%;
	height: 100%;
	left: 50%;
	position: absolute;
	transform: translateY(100vh);
	animation: slideFromBottom;
	animation-delay: 0.2s;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	background-color: #101a2b;
	padding: 10px;
	box-sizing: border-box;
}